.intro{
  margin-left:20%;
  width:800px;
  text-align: center;
}
.choose{
  margin-left: 55vh;
  background-color: red;
  height: 60px;
  font-size: 20px;
}
.looklikebutton {
  padding:10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: red;
  color:white;
  text-decoration: none;
}
.looklikebutton:hover{
  opacity: .7;
}

.randomImage{
  width:800px;
  height:800px;
  position: absolute;
}

.button{
  position: absolute;
  width:200px;
  margin-left:300px;
  border-radius: 10px;
  background-color:  red;
  margin-top: 700px;
}
.button1{
  position: absolute;
  width:200px;
  margin-left:300px;
  border-radius: 10px;
  background-color:  blue;
  margin-top: 600px;
}

.pokeball{
    position: absolute;
    width:100px;
    margin-left:350px;
    border-radius: 10px;
    background-color: green;
    margin-top: 500px;
}
.poke1{
  position: absolute;
  margin-left: 100px;
}
.poke2{
  position: absolute;
  margin-left: 500px;
}
.hp{
  color: white
}
.name{
  color: white;
}